/* Put some space between nav and page elements */
.navbar{
	margin-bottom: 3%;
}
html, body{
    height: 95%;
}

body > .container{
    padding-left: 0;
    padding-right: 0;
    height: 95%;
    overflow-y: scroll;
    border-width: 2px !important; /* Yes it's gross, thank you bootstrap */
}

#users-heading{
    padding: 4px;
}

#user_avatar{
    margin: 10px 0;
}

#submitContentWrapper
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}