html, body{
    height: 95%;
}

body > .container{
    padding-left: 0;
    padding-right: 0;
    height: 95%;
    overflow-y: scroll;
    border-width: 2px !important; /* Yes it's gross, thank you bootstrap */
}

#users-heading{
    padding: 4px;
}
